<div id="boards">
  <div class="board" *ngFor="let board of boards" (click)="loadBoard(board.id)">
    {{board.name}}
  </div>
</div>
<p></p>
<div id="threads">
  <div class="thread" *ngFor="let thread of threads" (click)="loadThread(thread.id)">
    {{thread.subject}}
  </div>
</div>
<p></p>
<div id="msgs">
  <div class="msg" *ngFor="let msg of msgs" (click)="loadMsg(msg.id)">
    {{msg.subject}}
  </div>
</div>
<div class="msg">
  <p>{{msg.subject}}</p>
  <div class="body">{{msg.body}}</div>
</div>

<a routerLink="/register">sdfsdf</a>